.main{
    background: url(./Images//back.png);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .main{
    background-color: rgba(0, 0, 0, 0.607);
} */
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(91, 90, 96);
  border-radius: 10px;
}